<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" 
          content="Aircall’s cloud based phone system for eCommerce businesses is easy and quick to set up. It allows customer service teams to deliver omnichannel support">
    <%= favicon_tag 'logos/favicon.ico' %>
    <title><%= current_page.data.title || "Ecommerce Support Solution" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <header>
      <%= stylesheet_link_tag 'header' %>
      <%= partial "partials/header" %>
    </header>
    <%= yield %>
  </body>
</html>
